.h{
    background-color: black;
    color: white;
    text-align: center;
    }
    .c1{ 
        background-image: url(github-social.png);
        height:500px;
    }
    
    p{
        font-size: larger;
        color: white;
    }
    